body{
    background-color: rgb(116, 231, 187);
font-family:'roboto' sans-serif;
}
.signup-box{
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: rgb(29, 221, 221);
    border-radius: 3px;
}
.Login-box{
     width: 360px;
    height: 280px;
        margin: auto;
        background-color: rgb(29, 221, 221);
        border-radius: 3px;
}

h1{
    text-align: center;
    padding:15px;
}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
    display:flex;
    margin-top: 15px;
    font-size: 15px;
}
form input{
width: 100%;
padding: 7px;
border: none;
bottom: 1px solid gray;
border-radius: 6px;
outline: none;
}

input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color:rgb(77, 143, 204);
    color: white;
    font-size: 18px;
}
p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}
h2{
    text-align: center;
    font-size: 25px;
}
.para-2{
text-align: center;
font-size: 15px;
color: white;
margin-top: -10px;
}
.para-2 a{
    color: rgb(77, 143, 204);

}